* {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

#canvas-border {
    width: 500px;
    height: 500px;
    border: 10px solid black;
    background-color: RebeccaPurple;
}

svg {
    border: 10px solid black;
}

.container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttonPane {
    text-align: center;
}

#documentation {
    display: none;
    padding: 10px 200px 10px 200px;
}